#box
{
    background-color: blue;
    /* color: white; */
}

.Heading {
    color: red;
}
button
{
    background-color: green;
}

p {
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
    
}
